<!doctype html>
<html class="no-js" lang="">
  {% include "components/_helpers/head.njk" %}


  <body class="{{ bodyClasses }}">
    <span id="top"></span>
    {% include "components/sections/header/header.njk" %}

    <main>
      {% block body %}
        {# will be replaced by page content #}
      {% endblock %}
    </main>

    {% include "components/sections/footer/footer.njk" %}

    <script src="/assets/main.js"></script>

    <a class="to-top glass-background" href="#top">
      {% include "icons/arrow-up.njk" %}
    </a>
  </body>
</html>